@{
    ViewData["Title"] = "Eikochain";
}
@{
    Layout = "_LayoutIFrameMobile";
}
@model EikochainV1.Models.SupplyChain
@section Styles
{
     <link rel="stylesheet" href="~/css/mobile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/thirdparty/grapick/grapick.css" />
      <link rel="stylesheet" href="~/js/thirdparty/fontselector/jquery.fontselect.css" />
      <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/huebee@2/dist/huebee.min.css">
}

<style>
    .col-md-3{
        flex: 0 0 auto;
    width: 25%;
    }
    .col-md-9{
            flex: 0 0 auto ;
    width: 75%;
    overflow-x:hidden;
    overflow-y: hidden;
    border: none;
    }

    li{
        text-align: justify;
    }
</style>
<div class="row">

     @if(@Model != null)
    {
          <input type="hidden" id="SupplyChainId" value="@Model.Id" />
    <input type="hidden" id="ActiveEndpoint" value="1" />
    <input type="hidden" id="SupplyChainData" value="@Model.SupplyChainData" />

    <div id="maincontainer" style="height: 500px;overflow-y: scroll;">
        <div class="view-wrapper">
            <nav id="sidebar">
            <ul class="nav nav-tabs" id="sidebarUl"></ul>
            </nav>

            <i class="fas fa-bars" id="sidebarCollapse"></i>

               <div id="mainBodySection" class="row mainBodySection ">
        </div>
    </div>
    </div>
    }
    else
    {
           <div id="maincontainer">
                 <h1>No Supply Chain has been created for this product</h1>
   </div>
    }
  
@section Scripts
{
           <script src="~/js/iframeviewmobile.js"></script>

}
</div>
