@model IEnumerable<SupplyChain>
@{
    ViewData["Title"] = "Supply Chains";
}

<div id="testdiv" height="100%">

</div>

<script id="eikochainjs" data-target="testdiv" data-styles="" src="https://eikochaincdn.blob.core.windows.net/scripts/eikochainwebtest.js"></script>
